*{
    padding:0;
    margin:0;
    
    

}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&family=Rubik:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');


body{
    background-color: gainsboro;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
  


}

main{
    grid-area: main;
    min-height: 50vh;
    padding: 2rem;
    
    margin: 0 auto;

}



section{
    background-color: gainsboro;
   margin: 60px;
}
.logo{
    color:rgb(0, 0, 0)

}
.navegador{
width: 100%;

margin: auto;



}

.navegador i{
    font-size: 30px;
    display: none;
}

#toggle-menu{
    
    z-index: 1;
    display: none;
}
.nav{
    display: flex;
}
header nav {
width: 90%;    
background-color: gainsboro;
 background-size:cover;
display: flex;
align-items: center;
justify-content: space-around;
position: fixed;
top:0;
flex-wrap: wrap;
min-width: 300px;


}

header nav .logo{
font-size: 30px;
font-weight: bold;


}
.links{
    display: flex;
    gap: 20px;
    border:20px;
    left: 5rem;
   

}
.links .link {
    padding: 6px 20px;
    text-decoration: none;
    margin: 30px;
    color: black;
    font-weight:700;
    font-size: 13px;
    text-transform: uppercase;
    transform-origin:0.3s all ease;
    left: 5rem;    
    
}





.links .link:hover {
    transform: translateY(-5px);
    color:rgb(241, 64, 0);
    

}
header nav .logo span{
    font-weight: bold;
    color:rgb(224, 84, 3);
    }

.main-page{
    background-image: url(fondo.jpg);
    height: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    flex-wrap: wrap;

    

}

.main-page:first-child{
    padding: 25px;
    margin: 20px;
}
.hero-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:0;
    min-width: 300px;
}

.title{
    color:rgb(255, 255, 255);
    font-weight:900;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 50px;
    
    
}
  .subtitle{
    color: gold;
    font-weight: 700;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 35px;
    
  }  
  .button-container{
    display: flex;
  }
  .button-hero{
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 30px;
    text-transform: uppercase;
    margin: 20px 0px 10px 0px;
    padding: 5px 5px;
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
    color: rgb(0, 0, 0);
    background-color: rgb(151, 182, 182);


  }
.button-hero:hover{
    background-color: rgb(151, 182, 182);
    position: relative;
    cursor: pointer;
    animation:reverse;
    box-shadow:0 0 10px rgb(151, 182, 182), 0 0 40px rgb(151, 182, 182), 0 0 80px rgb(151, 182, 182);

}    

.beneficios{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gr;
    color: rgb(0, 0, 0);
    height: 100%;
    flex-direction: column;
    border: 55px;
    border-radius: 2%;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    width: 80%;
}

.beneficios:hover{
    background-color: rgb(158, 152, 145);
    box-shadow: 0 0 10px rgb(158, 152, 145), 0 0 40px rgb(158, 152, 145), 0 0 80px rgb(158, 152, 145);
}


.titleb{
margin: 0;
text-align: center;
font-size: 40px;
text-transform: uppercase;

border-radius: 3px;
}
    
.beneficios ul li{
    list-style: none;
    font-size: 25px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    margin-top: 10px;
    
}


.lugares-info:hover{
    transform: translateY(-5px);
    
}


.cards{
    width: 80%;
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;

    
}


.card1{
    width: 100%;
    margin: 20px 0px 0px 400px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgb(255, 251, 251);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    cursor: default;
    transition:all 400ms ease;
    box-shadow: 1px 2px 6px 8px #404040;
}
.card1:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.img{
    width: 500px;
    margin: 50px;
    height: 300px;
    border-radius: 30px;
    border-style: solid;
    cursor: pointer;
}

.contenido{
    padding: 15px;
    align-items: center;
}

.contenido p{
    line-height:1.5;

}

.contenido h1{
    font-weight: bold;
    font-size: 30px;
}

.contenido a{
    text-decoration: none;
    display: inline-block;
    padding:10px;
    margin-top:10px;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 5px;
    transition:all 400ms ease;
    align-items: center;

}

.contenido a:hover{
    background: aqua;
    color: black;
}

.testimonios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin:auto;

}

.testimonios-header{
    margin: 20px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:10%;
}

.testimonios-header h1{
    font-size: 2.2rem;
    font-weight: 500;
    
    color: rgb(255, 255, 255);
    padding-right: 10px 20px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    text-decoration:none;


}

.testimonios-header span{
    font-size: 2.0rem;
    color: #2e1919;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-decoration: double;

}

.testimonios{
    display: flex;
    flex-direction: row;
    background-color:rgb(19, 12, 12)
}
.testimonios-contenedor{
    display: flex;
    

}

.testimonios-caja{
    width:400px;
    box-shadow:2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: rgb(218, 204, 204);
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 30px;
}

.testimonios-caja:hover{
    box-shadow: 0px 0px 10px black, 0px 0px 40px black, 0px 0px 80px black;
}

.perfil-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right:30px;
}

.perfil-img img{
    width: 100%;
    height: 100%;
    object-fit:center;
}

.perfil{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name-user{
    display: flex;
    flex-direction: column;
    
}

.name-user strong{
    color: black;
    font-size: 1.3rem;
}

.name-user span{
    color: #2c1515;
    font-size: 1.1rem;
}

.resenas{
    color: gold;
}

.caja-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.comentarios-clientes{
    color: #000000;
    font-weight: bold;
}

footer {
    height: 60%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(235, 173, 173);
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;

}

.container-allfooter {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.column1 {
    max-width: 400px;

}

.column1 h1 {
    font-size: 22px;
}

.column1 p {
    font-size: 14px;
    margin-top: 20px;
}

.column2 {
    max-width: 400px;

}

.column2 h1 {
    font-size: 22px;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 35px;
    height: 35px;
    border-radius: 70%;

}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: rgb(245, 245, 245);
}

.column3 {
    max-width: 400px;
}

.column3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.container-footer {

    background-color: black;



    align-items: center;
}

.copyright {
    color: gainsboro
}

.copyright a {
    color: rgb(136, 130, 130);
    font-weight: bold;
}

.terminos-condiciones a {
    text-decoration: none;
    color: gainsboro;
}

.footer {
    width: 90%;

    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

